body {
  margin: 0 auto;
  text-align: center;
}

td {
  border-collapse: collapse;
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
