<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <ul id="nabvar">
        <li><a href="/">Map</a></li>
        <li><a class="active" href="/upload">upload</a></li>
    </ul>
    <div>업로드페이지입니다.</div>
    
    <script type="text/javascript" src="/javascripts/upload.js"></script>
</body>
</html>