<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bcda4227b00a71e6406ab99970cb7ac1&libraries=services"></script>
</head>
<body>
    <ul id="navbar">
        <li><a href="/">Map</a></li>
        <li><a class="active" href="/upload">upload</a></li>
    </ul>
    <div id="map"></div>
    <div id="menu_wrap">
        <!-- return false; 는 새로고침이 발생하지 않도록 함 -->
        <form onsubmit="searchPlaces(); return false;">
            키워드 : <input type="text" autocomplete="off" value="강남역" id="keyword" size="15">
            <button type="submit">검색하기</button>
        </form>
        <hr>
        <div id="placesList"></div>
        <div id="pagination"></div>
    </div>
    <div id="chkBtnType">
        <p>
            <input type="checkbox" id="chkUseDistrict" onclick="setOverlayMapTypeId()" /> 지적편집도
            <input type="checkbox" id="chkTerrain" onclick="setOverlayMapTypeId()" /> 지형정보
            <input type="checkbox" id="chkTraffic" onclick="setOverlayMapTypeId()" /> 교통정보
            <input type="checkbox" id="chkBicycle" onclick="setOverlayMapTypeId()" /> 자전거도로
        </p>
    </div>
    
    <script type="text/javascript" src="/javascripts/upload.js"></script>
</body>
</html>