body {
  padding: 0 !important;
  margin: 0 !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
/* Navbar */
ul#navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #333;
  width: 100%;
  z-index: 1000;
}
li:first-child {
  float: left;
}
li:nth-child(2) {
  float: right;
  background-color: lightseagreen;
}
li:last-child {
  float: right;
  background-color: lightseagreen;
}
li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}
.active {
  background-color: green;
}
i a:hover:not(.active) {
  background-color: #111;
}
#wrap {
  position: relative;
}
#map {
  width: 100vw;
  height: calc( 100vh - 44px );
  outline: none;
}

/* 마커 */
.marker {
  width: 15px;
  height: 15px;
  background: green;
  border: 1px solid black;
  border-radius: 50%;
}

/* 인포윈도우 */
.infowindow_wrap {
  background: white;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.2);
}
.infowindow_title {
  font-size: 15px;
  font-weight: bolder;
}
.infowindow_address {
  font-size: 13px;
  font-weight: normal;
}

/* 업로드 */
/* 검색 */
.info .body {
  position: relative;
  overflow: hidden;
}
.info .desc {
  position: relative;
  margin: 8px 0 0 90px;
  height: 75px;
  display: block;
}
.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

#menu_wrap{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 50px;
  width: 200px;
  margin: 50px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
}

#menu_wrap a, #menu_wrap a:hover, #menu_wrap a:active{
  color:#000;
  text-decoration: none;
}
#menu_wrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #5f5f5f;
  margin: 3px 0;
}
#placesList .item {
  position: relative;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}
#placesList .item span {
  display: block;
  margin-top: 4px;
}
#placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 20px;
}
#placesList .item .info_title {
  font-weight: bolder;;
}

#pagination { 
  margin:10px auto;
  text-align: center;
}
#pagination a {
  display:inline-block;
  margin-right:10px;
}
#pagination .on {
  font-weight: bold; 
  cursor: default;
  color:#777;
}

.cluster1 {
  width: 25px;
  height: 25px;
  line-height: 26px;
  font-size: 10px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-weight: bold;
  background: rgba(255, 149, 79, 0.7);
}

.cluster2 {
  width: 30px;
  height: 30px;
  line-height: 31px;
  font-size: 10px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-weight: bold;
  background: rgba(255, 149, 79, 0.7);
}

.cluster3 {
  width: 35px;
  height: 35px;
  line-height: 26px;
  font-size: 10px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-weight: bold;
  background: rgba(255, 149, 79, 0.7);
}

#chkBtnType {
  width: 100px;
  height: 100px;
  bottom: 10px;
  right: 10px;
  background: rgba(0,0,0,.2);
  z-index: 4;
  position: absolute;
}

#centerAddr {
  display:block;margin-top:2px;font-weight: normal;
}
#caution{
  position: absolute;
  background-color: #eee;
  padding: 10px;
  left: 20px;
  bottom: 20px;
  z-index: 10;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    -moz-box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    -moz-box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
  }
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    -moz-box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    -moz-box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
  }
}

/* 현재위치 포인터 애니메이션효과 */
.pulse {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgb(255, 0, 0);
  animation: pulse 1.7s infinite;
}
#current {
  position: absolute;
  top: 70px;
  z-index: 10000;
  background: white;
  left: 20px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
}
#regionInfo {
  position: absolute;
  top: 70px;
  padding: 20px;
  z-index: 10000;
  background: white;
  width: 300px;
  display: none;
}